<div data-ng-controller="HomeController" layout="column" layout-fill>
    <om-header></om-header>
    <div class="intro-container" data-ng-hide="isAuthdUser()" layout="row" layout-align="center center" flex >
        <div class="logo-animation fadeInDownBig">
            <div class="logo-type">
                Open Macro
                <p class="logo-subtext">
                    Empowering macroeconomists worldwide with cutting-edge, accessible modeling software
                </p>
            </div>
            <div class="reg-btn">
                <md-button href="/#!/signup">SIGN UP FOR FREE</md-button>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="footer-text">&copy; International Monetary Fund.</p>
        <p class="footer-text">This application is part of a research project on macroeconomic policy in low-income
            countries supported by the U.K.'s Department for International Development (DFID).
            It was developed in partnership with the University of Chicago.</p>
    </div>
</div>
