<section data-ng-controller="HomeController" layout="column">
	<om-header></om-header>
	<section om-toolbarless-height style="overflow-y: scroll;">
		<div class="intro-container" data-ng-hide="isAuthdUser()">
			<div class="logo-container">
				<div class="logo-animation fadeInDownBig">
					<div class="logotype">
						Open Macro
						<p class="logosubtext">
							Empowering macroeconomists worldwide
							with cutting-edge, accessible modeling software
						</p>
					</div>
					<div class="reg-btn">
						<a href="/#!/signup" style="color:white;">SIGN UP FOR FREE</a>
					</div>
				</div>
			</div>
		</div>

		<div class="home-box">
			<div layout="row">
				<div class="home-box1" flex>
					<h4>Why Open Macro?</h4>

					<p class="description">When economists make accurate forecasts, the result is a healthier economy for everyone. But for
						economists at most central banks around the world, the necessary forecasting tools are difficult
						to use and too expensive. These obstacles put their countries—and the people in them—at an
						economic disadvantage. That’s why we created Open Macro.</p>
				</div>
				<div class="home-box2" flex>
					<h4>User-friendly interface</h4>

					<p class="description">We believe in letting economists do what they were trained to do: economics. Creating great
						economic forecasts used to mean doing heavy-duty computer programming on top of economic
						analysis, but we’ve made things simple. Instead of writing line upon line of code, with Open
						Macro the economist can run the same tests with just the click of a button.</p>
				</div>
				<div class="home-box3" flex hide-sm>
					<h4>Promoting global economic equality</h4>

					<p class="description">Every country should have a fair shot at cultivating a healthy economy. But the computing power
						and modeling software used by economists at the forefront of the industry are simply not
						affordable for most countries in the world. With Open Macro, these cutting-edge tools are now
						accessible to central banks across the globe. That’s because Open Macro is powered by
						open-source software. No costly software licenses needed.</p>
				</div>
			</div>

		</div>

		<div class="footer">
			<div class="footer-text">
				<p>A project for the 2015 App Challenge at The University of Chicago.</p>
			</div>
		</div>
	</section>
</section>
