<section class="row" data-ng-controller="PasswordController">
	<div layout="row" layout-align="center center">
		<form data-ng-submit="resetUserPassword()" autocomplete="off">
			<md-content class="md-padding" layout="column">
				<h3 class="col-md-12 text-center">Restore your password</h3>
				<md-input-container>
					<label>New Password</label>
					<input type="password" name="newPassword" data-ng-model="credentials.newPassword">
				</md-input-container>
				<md-input-container>
					<label>Verify Password</label>
					<input type="password" name="verifyPassword" data-ng-model="credentials.verifyPassword">
				</md-input-container>
				<md-input-container>
					<md-button class="md-raised md-primary" type="submit">Update Password</md-button>
				</md-input-container>
				<md-input-container>
					<span style="color:#ff3c42;">{{error}}</span>
				</md-input-container>
				<md-input-container>
					<span style="color:#2bff6e;">{{success}}</span>
				</md-input-container>
			</md-content>
		</form>
	</div>
</section>
