<section data-ng-controller="AnalyzeSimulationController" data-ng-init="findSimulation()" layout="row" layout-fill>

    <section layout="column" flex>

        <omt-header></omt-header>
        <om-tabbar></om-tabbar>

        <md-content layout="row" flex>
            <md-content class="om-sidebar">
                <md-input-container>
                    <label>Filter Graphs</label>
                    <input ng-model="query.name">
                </md-input-container>
                <md-list>
                    <md-item ng-repeat="(key, graph) in graphs | filter:query" ng-click="addGraph(graph)">
                        <a>
                            <md-item-content md-ink-ripple class="md-2-line" layout="row" layout-align="start center">
                                <div class="md-list-item-text parameter-item" ng-class="{'md-offset': $index != 0 }">
                                    <h4 class="md-subhead">{{ graph.name }}</h4>

                                    <p class="description"> {{ graph.description }} </p>
                                </div>
                            </md-item-content>
                        </a>
                        <md-divider></md-divider>
                    </md-item>
                </md-list>
            </md-content>
            <md-divider class="vertical"></md-divider>
            <md-content layout="column" class="md-padding" flex>
                <div layout="row">
                    <h1 class="md-title">Results</h1>

                    <div flex></div>
                    <md-select placeholder="Compare with" ng-model="comparableSimulation">
                        <md-option ng-repeat="simulation in comparableSimulations"
                                   ng-click="compareSimulation(simulation)" value="{{ simulation._id }}">
                            {{simulation.name}}
                        </md-option>
                    </md-select>
                </div>
                <md-content layout="row" layout-wrap="true" flex>
                    <md-card flex="45" ng-repeat="graph in visibleGraphs">
                        <md-card-content>
                            <div>{{ graph.description }}</div>
                            <div id="{{'graph_' + graph.name }}"></div>
                            <!--<c3chart bindto-id="{{'graph_' + graph.name }}"-->
                            <!--chart-data="graph.data"-->
                            <!--chart-columns="graph.name"-->
                            <!--chart-x="datax"-->

                            <!--<chart-size></chart-size>-->
                            <!--</c3chart>-->
                            <c3chart bindto-id="{{'graph_' + graph.name }}"
                                     enable-zoom="false"
                                     show-subchart="false">
                                <chart-column ng-repeat="(key, column) in graph.data"
                                              column-id="{{ column.id }}"
                                              column-values="{{ column.values }}"
                                              column-color="{{ column.color }}"
                                              column-type="spline"></chart-column>
                            </c3chart>
                        </md-card-content>
                    </md-card>
                </md-content>
                <!--<md-grid-list class="offset-grid" md-cols="2" md-row-height="1:1" md-gutter="8px" flex>-->
                <!--<md-grid-tile ng-repeat="graph in graphs" md-colspan="1" md-rowspan="1">-->
                <!---->
                <!--</md-grid-tile>-->
                <!--</md-grid-list>-->
            </md-content>
        </md-content>
    </section>
</section>
