<om-header></om-header>
<div class="signin-container">
	<md-content class="md-padding">
		<md-card>
			<md-toolbar class="md-accent">
				<div class="md-toolbar-tools">
					<h2>
						<span>Change your password</span>
					</h2>
				</div>
			</md-toolbar>

			<md-card-content>
				<section class="row" data-ng-controller="SettingsController">
					<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
						<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
							<md-content class="md-padding" layout="column">

								<div layout layout-sm="column">
									<md-input-container flex>
										<label for="currentPassword">Current Password</label>
										<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
									</md-input-container>
								</div>

								<div layout layout-sm="column">
									<md-input-container flex>
										<label for="newPassword">New Password</label>
										<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
									</md-input-container>
									<md-input-container flex>
										<label for="verifyPassword">Verify Password</label>
										<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
									</md-input-container>
								</div>

								<div data-ng-show="success" class="submit-text-center">
									<strong>Profile Saved Successfully</strong>
								</div>
								<div data-ng-show="error" class="submit-text-center">
									<strong data-ng-bind="error"></strong>
								</div>

								<md-input-container>
									<md-button class="md-raised md-accent" type="submit">Save Password</md-button>
								</md-input-container>
							</md-content>
						</form>
					</div>
				</section>
			</md-card-content>
		</md-card>
	</md-content>
</div>
